<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jobrecruitmentapp_android">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobRecruitmentAppAndroid"
        tools:targetApi="31">
        <activity
            android:name="com.example.jobrecruitmentapp_android.activities.AdminActivity"
            android:exported="false" />
        <activity
            android:name="com.example.jobrecruitmentapp_android.activities.EmployerActivity"
            android:exported="false" />
        <activity
            android:name="com.example.jobrecruitmentapp_android.activities.CreateProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.jobrecruitmentapp_android.activities.JobSeekerActivity"
            android:exported="false"
            android:label="@string/title_activity_main2" />
        <activity
            android:name="com.example.jobrecruitmentapp_android.activities.EmailLoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.jobrecruitmentapp_android.activities.EmailSignupActivity"
            android:exported="false" />
        <activity
            android:name="com.example.jobrecruitmentapp_android.activities.SignupOptionsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.jobrecruitmentapp_android.activities.UserTypeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.jobrecruitmentapp_android.activities.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.jobrecruitmentapp_android.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>